<p id="notice"><%= notice %></p>

<img src="https://github.com/everhooder/flipflop_app/blob/master/pictures/ff-badge-beerbelly.png?raw=true" />

<h2 class="subheader">Thank you! We will send you an email when it is time to get your drinks!</h2>

<h2 class="subheader">Cheers!</h2>

<a href="http://barflipflop.tumblr.com/"><%= link_to 'See the latest news'%></a>
